<h2> All Products </h2>

	<% if @products.empty? %>
	<p>You do not have any products, Create your first prodcut"</p>  <%= link_to "New Product", new_product_path %>


	<%else%>
		<table border = "1">
			<thead>
				<tr>
					<th>#</th>
					<th>ProductCategory</th>
					<th>Size</th>
				</tr>
		
			</thead>
			
			<tbody>
				<% @products.each_with_index do |product,index| %>
				<tr>
					<td> <%= index + 1 %> </td>
					<td> <%= product.category.name %></td>
					<td> <%= product.size %></td>
					
				</tr>
				<% end %>
			</tbody>
		</table>
		<br/>
		
	<%end%>

	<!--link_to("Show All Orders", )-->

